   /* + Noch zu bearbeiten: link, info, dom, gram, */

body {
   font-family:Verdana;
   font-size:12pt;
   margin:0px;
   padding:0px;
   }

div {
   margin:0px;
   padding:0px;
   }


/* + BLOECKE ++++++++++++++++++++++++++++++++++++++++ */

div.lemma-gr {
   padding-top:5px;
   padding-bottom:0px;
   font-size:14pt;
   font-weight:bold;
   width:100%;
   border-bottom:1px #CCCCCC solid;
   }

div.sense-gr {
   padding-top:10px;
   }

div.idiom-gr {
   padding-top:10px;
   }

div.info {
   background-color:#DDDDDD;
   }

table.block {
   border:0px;
   }

td.block-links {
   padding-left:5px;
   width:25px;
   text-align:top;
   }

td.block-rechts {
   text-align:top;
   }



/* + ABSAETZE +++++++++++++++++++++++++++++++++++++++ */

p {margin:0px;}

div.lemma-gr p {
   padding-left:5px;
   }

td.block-links p {
   font-weight:bold;
   }

td.block-rechts p {
   margin-left:10px;
   text-indent:-10px;
   padding-right:5px;
   }

p.ex {
   color:#999999;
   margin-left:-5px;
   text-indent:-5px;
   padding-right:5px;
   }

div.info {
   padding:5px;
   }




div.lemma-gr span.lemma {
   font-weight:bold;
   margin-right:5px;
   color:#0000FF;
   }

div.lemma-gr span.num {
   font-size:8pt;
   vertical-align:super;
   }

div.lemma-gr span.phon {
   font-family:Gentium;
   font-weight:normal;
   margin-left:10px;
   }

span.pos {
   font-family:Times New Roman;
   font-style:italic;
   font-weight:normal;
   color:#FF0000;
   }

span.niv, span.n, span.dom {
   font-family:Times New Roman;
   font-style:italic;
   }
   
span.dom {
   text-transform:uppercase;
   }

span.s {
   font-weight:bold;
   }

span.alt {
   font-style:italic;
   font-weight:normal;
   }

span.govern {font-style:italic;}


a {font-family:Times New Roman;
   font-style:italic;
   text-decoration:none;}

a.abbr-pos {color:#FF0000;}

a.abbr-niv {color:#000000;}