.dicml {
  font-family: Sans-serif;
  margin: 20px;
  font-size: 12pt;
}

.dicml 

.dicml div.ex {
  color: #999999;
  font-size: 90%;
  margin: 0 0 0 1.5em;
  text-indent: -0.7em;
}

.dicml div.ex span.s {
  font-style: italic;
  font-weight: normal;
}

.dicml div.antgr, div.syngr {
  font-size: 90%;
  margin: 0 0 0 2.8em;
  text-indent: -2em;
}

.dicml div.antgr abbr, div.syngr abbr {
  color: #0000FF;
  font-weight: bold;
}

.dicml p {
  margin: 0;
}

.dicml p.orth {
  font-size: 135%;
  margin: 0;
}

.dicml p.phon {

}


.dicml span.altgr:hover {
  text-decoration: underline;
}

.dicml span.high {
  background-color: #FFFFB2;
}

.dicml span.hyphsep {
  color: #999999;
}

.dicml span.orth {
  color: #0000FF;
  font-weight:bold;
}

.dicml span.orthalt {
  color: #0000FF;
}

.dicml span.orthalt-group {
  margin: 0 0 0 0;
}

.dicml span.orth span.hyphsep, span.orthalt span.hyphsep {
  display: none;
}

.dicml span.orth:hover span.hyphsep, span.orthalt:hover span.hyphsep {
  display: inline;
}

.dicml span.phon {
  font-family: Gentium;
}

.dicml span.pos {
  color: #FF0000;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 0 5px;
}

.dicml span.pos abbr {
  border: 0;
}

.dicml span.s {
  font-weight: bold;
  margin: 0 5px 0 0;
}

.dicml span.t {

}

.dicml span.w:hover {
  border-bottom: 1px dotted;

}


