/* normal layout elements */

.content {
  position: absolute;
  left: 50%;
  font-family: Verdana, sans serif;
  font-size: 10pt;
  width: 600px;
  margin-left: -300px; /* always -(width/2) !!! */
  background-color: #EEEEEE;
  color: #444444;
  padding: 4px 6px 4px 4px;
}

.content ul 
{
    list-style-type: disc;
    list-style-position: inside;
}

.content a {
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}

.content a:hover {
  color: #FF6600;
}

.content h1, h2, h3
{
  margin: 4pt;
}

.content h1 {
  font-size: 18pt;
}

.bottom {
  margin-top: 5px;
  width: 100%;
}

.bottom_left {
  width: 50%;
  text-align: left;
}

.bottom_right {
  position: absolute;
  width: 300px;
  left: 300px;
  text-align: right;
}

/* form elements */
input 
{
  font-size: 10pt;
}

select
{
  font-size: 10pt;
}

/* autocomplete */
div.wicket-aa {
  border-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  padding: 2px;
  margin: 1px 0 0 0;
  text-align: left;
  background-color: white;
  font-size: 10pt;
}

div.wicket-aa ul { list-style: none; padding: 2px; margin: 0; background-color: #FFFFFF}
div.wicket-aa ul li.selected { background-color: #8888AA; padding: 2px; margin: 0; }

/* FeedbackPanel */
.feedbackPanelERROR
{
  color: red;
}        

.feedbackPanelWARNING
{
  color: #FF6600;
}  
                     
/* Tabs */
.tabpanel
{
  background-color: #EEEEEE;
}

.tabpanel .tab-row
{
  width: 100%;
  text-align: left;
}

.tabpanel .tab-row ul
{
  list-style-type: none;
  list-style-position: inside;
  margin: 0px 0px 2px 0px;
  padding: 0px;
}

.tabpanel .tab-row li
{
  white-space: nowrap;
  background-color: white;
  margin: 0px 5px 2px 0px;
  padding: 2px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  text-align: left;
  float: left;
  min-width: 30px;

  border-left-color: white;
  border-top-color: white;
  border-bottom-color: #AAAAAA;
  border-right-color: #AAAAAA;
  
}

.tabpanel .tab-row li.selected
{
  padding-top: 4px;
  margin: 0px 5px -1px 0px;
  border-bottom-color: white;
  border-width: 1px;
}

.tabpanel .tab-row li a
{
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  font-weight: normal;
}


.tabpanel span.tab-panel
{
  clear: both;
  display:block;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  
  border-left-color: white;
  border-top-color: white;
  border-bottom-color: #AAAAAA;
  border-right-color: #AAAAAA;

}

