/* autocomplete */
div.wicket-aa {
  border-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  padding: 2px;
  margin: 1px 0 0 0;
  text-align: left;
}

div.wicket-aa ul { list-style: none; padding: 2px; margin: 0; background-color: #FFFFFF}
div.wicket-aa ul li.selected { background-color: #8888AA; padding: 2px; margin: 0; }
                                
/* Tabs */

.tabpanel
{
  background-color: white;
  width:100%;
}

.tabpanel .tab-row
{
  width: 100%;
  text-align: left;
}

.tabpanel .tab-row ul
{
  list-style-type: none;
  list-style-position: inside;
  margin: 0px 0px 2px 0px;
  padding: 0px;
}

.tabpanel .tab-row li
{
  display: inline;
  margin: 0px 5px 0px 0px;
  padding: 2px;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: black;
  text-align: left;
}

.tabpanel .tab-row li.selected
{
  border-bottom-color: white;
  border-width: 1px;
}

.tabpanel .tab-row a
{
  text-decoration: none;
  color: black;
}


.tabpanel span.tab-panel
{
  display:block;
  width: 100%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 2px;
}

